/* selecionando todos elementos e removendo margin e padding */
* {
    margin: 0;
    padding: 0;
    }


body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color:#F6F6F6;
}
.destaque-titulo {
    color: #5BEBC9;
}
.autor{

}
.texto-destaque{
    color: #C8F113;
}