@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Krona+One&family=Montserrat:wght@400;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-destaque: #C8F113;
    --destaque-titulo: #FFF411;
}

/* Selecionando todos os elementos e removendo margin e padding */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Tela tablet */
@media (max-width: 720px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .rodape {
        font-size: 3rem;
    }
}


/* Tela celular */
@media (max-width: 414px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho__links__link {
        font-size: 1rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .rodape {
        font-size: 2.5rem;
    }
}